version: '3.8'

services:
  # --- Worker Services ---
  worker1:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: wordcount-mapreduce-worker 
    container_name: mr_worker1
    ports:
      - "50051:50051"
    environment:
      WORKER_ID: 1

  worker2:
    image: wordcount-mapreduce-worker 
    container_name: mr_worker2
    ports:
      - "50052:50051"
    environment:
      WORKER_ID: 2

  worker3:
    image: wordcount-mapreduce-worker
    container_name: mr_worker3
    ports:
      - "50053:50051"
    environment:
      WORKER_ID: 3

  worker4:
    image: wordcount-mapreduce-worker
    container_name: mr_worker4
    ports:
      - "50054:50051"
    environment:
      WORKER_ID: 4

  worker5:
    image: wordcount-mapreduce-worker
    container_name: mr_worker5
    ports:
      - "50055:50051"
    environment:
      WORKER_ID: 5

  # --- Client (Master) Service ---
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    image: wordcount-mapreduce-client
    container_name: mr_client
    depends_on:
      - worker1
      - worker2
      - worker3
      - worker4
      - worker5