version: '3.8'

# Set NUM_WORKERS environment variable to control number of workers
# Default is 2 if not set. Change this value to scale workers.
# Example: NUM_WORKERS=2 docker-compose up
# Or set it in your shell: export NUM_WORKERS=2
# The client will automatically use only the first NUM_WORKERS workers

services:
  # --- Worker Services ---
  # Workers are defined up to 10. The client will automatically use only 
  # the first NUM_WORKERS workers based on the NUM_WORKERS environment variable.
  worker1:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker1
    ports:
      - "50051:50051"
    environment:
      WORKER_ID: 1

  worker2:
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker2
    ports:
      - "50052:50051"
    environment:
      WORKER_ID: 2

  worker3:
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker3
    ports:
      - "50053:50051"
    environment:
      WORKER_ID: 3

  worker4:
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker4
    ports:
      - "50054:50051"
    environment:
      WORKER_ID: 4

  worker5:
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker5
    ports:
      - "50055:50051"
    environment:
      WORKER_ID: 5

  worker6:
    image: tommyyuan0215/wordcount-mapreduce-worker-grpc
    container_name: mr_worker6
    ports:
      - "50056:50051"
    environment:
      WORKER_ID: 6

  # --- Client (Master) Service ---
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    image: wordcount-mapreduce-client-grpc
    container_name: mr_client
    environment:
      # Pass NUM_WORKERS to client (defaults to 2 if not set)
      NUM_WORKERS: ${NUM_WORKERS:-2}
      # -------------------------------------------------------------
      # NEW: extra_hosts for dynamic external/internal worker connection
      # -------------------------------------------------------------
    # extra_hosts:
      # If WX_IP is provided, use it (external). 
      # If not, use 'host.docker.internal' (internal fallback via port map).
      # - "worker1:${W1_IP:-host.docker.internal}"
      # - "worker2:${W2_IP:-host.docker.internal}"
      # - "worker3:${W3_IP:-host.docker.internal}"
      # - "worker4:${W4_IP:-host.docker.internal}"
      # - "worker5:${W5_IP:-host.docker.internal}"
      # - "worker6:${W6_IP:-host.docker.internal}"
    depends_on:
      - worker1
      - worker2
      - worker3
      - worker4
      - worker5
      - worker6