version: '3.8'

services:
  # --- REST Worker Services ---
  worker1:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: tommyyuan0215/wordcount-mapreduce-worker-rest
    container_name: mr_worker1
    ports:
      - "5001:5000"
    environment:
      WORKER_ID: 1

  worker2:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: tommyyuan0215/wordcount-mapreduce-worker-rest
    container_name: mr_worker2
    ports:
      - "5002:5000"
    environment:
      WORKER_ID: 2

  worker3:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: tommyyuan0215/wordcount-mapreduce-worker-rest
    container_name: mr_worker3
    ports:
      - "5003:5000"
    environment:
      WORKER_ID: 3

  worker4:
    build: 
      context: .
      dockerfile: server/Dockerfile
    image: tommyyuan0215/wordcount-mapreduce-worker-rest
    container_name: mr_worker4
    ports:
      - "5004:5000"
    environment:
      WORKER_ID: 4

  # --- REST Client Service ---
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    image: wordcount-mapreduce-client-rest
    container_name: mr_client
    environment:
      NUM_WORKERS: ${NUM_WORKERS:-2}  # default 2 workers
    extra_hosts:
      - "worker1:${W1_IP:-host.docker.internal}"
      - "worker2:${W2_IP:-host.docker.internal}"
    depends_on:
      - worker1
      - worker2
      - worker3
      - worker4
